<div class="row">

    <div class="col-12 resume-section">
        <h1>Lautaro Ariel Araujo</h1>
        <span class="lead">Software Engineer</span>
    </div>

    <div class="col-12 resume-section">

        <div class="exp">
            <h2 class="exp-title">Tech Lead @ Dom & Tom <small>(2021 - present)</small></h2>
            <div class="exp-tools">
                <span class="tool">Python</span>
                <span class="tool">Django</span>
                <span class="tool">GraphQL</span>
                <span class="tool">Typer</span>
                <span class="tool">Docker</span>
                <span class="tool">AWS</span>
                <span class="tool">Flask</span>
                <span class="tool">Javascript</span>
                <span class="tool">VueJS</span>
                <span class="tool">PostgreSQL</span>
            </div>
            <div class="exp-description">System design and development leadership for US Department of Energy projects,
                mostly around a High Performance Computing ecosystem.</div>
            <div class="exp-highlights">
                <ul class="list">
                    <li>API, SDK, CLI and Web Client development</li>
                    <li>Code ownership and project technical roadmap planning</li>
                </ul>
            </div>
        </div>

        <div class="exp">
            <h2 class="exp-title">Senior Software Engineer @ BriteCore <small>(2018 - 2021)</small></h2>
            <div class="exp-tools">
                <span class="tool">Python</span>
                <span class="tool">Flask</span>
                <span class="tool">Javascript</span>
                <span class="tool">VueJS</span>
                <span class="tool">MySQL</span>
                <span class="tool">DynamoDB</span>
                <span class="tool">Django</span>
                <span class="tool">Docker</span>
                <span class="tool">AWS</span>
                <span class="tool">Datadog</span>
                <span class="tool">Consul</span>
                <span class="tool">SaltStack</span>
            </div>
            <div class="exp-description">
                <ul class="list">
                    <li class="exp-sub-title">
                        <h3>Full-stack Engineer</h3>
                        <ul>
                            <li>Product and Extensibility development with Flask, Django, VueJS and a variety of AWS
                                services</li>
                            <li>API Development and refactor for open-source transition</li>
                        </ul>
                    </li>
                    <li class="exp-sub-title">
                        <h3>Site Reliability Engineer</h3>
                        <ul>
                            <li>Sped up nightly batch processing by almost 50%</li>
                            <li>Automated release process of client instances implementing AWS Step Functions</li>
                            <li>Revamped monitoring of most relevant services with Datadog, CloudWatch and SNS</li>
                            <li>Reduced cost of cloud infrastructure by approximately 15%</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>

        <div class="exp">
            <h2 class="exp-title">Back-end Engineer @ Amalgama <small>(2017 – 2018)</small></h2>
            <div class="exp-tools">
                <span class="tool">Python</span>
                <span class="tool">Django</span>
                <span class="tool">PostgreSQL</span>
            </div>
            <div class="exp-description">Strictly back-end app development with Django for Buenos Aires Government's
                bill payment, tax management, and public services notifications mobile app</div>
        </div>

        <div class="exp">
            <h2 class="exp-title">Full-stack Developer @ NCR <small>(2016 - 2017)</small></h2>
            <div class="exp-tools">
                <span class="tool">Python</span>
                <span class="tool">Django</span>
                <span class="tool">Flask</span>
                <span class="tool">Locust</span>
                <span class="tool">SQL Server</span>
                <span class="tool">Javascript</span>
                <span class="tool">AngularJS</span>
            </div>
            <div class="exp-description">
                <ul class="list">
                    <li>Full-stack development with Django, Flask and Angular for ATM management applications</li>
                    <li>ATM UI Development with Angular</li>
                </ul>
            </div>
        </div>

        <div class="exp">
            <h2 class="exp-title">Mainframe Developer @ BBVA <small>(2014 – 2016)</small></h2>
            <div class="exp-tools">
                <span class="tool">COBOL</span>
                <span class="tool">JCL</span>
                <span class="tool">DB2</span>
                <span class="tool">CICS</span>
                <span class="tool">VSAM</span>
                <span class="tool">Python</span>
            </div>
            <div class="exp-description">
                Core Banking Development on z/OS systems with some Python scripting on the side for data parsing.
            </div>
        </div>

        <div class="exp">
            <h2 class="exp-title">Information Security Administrator @ Cencosud <small>(2013 – 2014)</small></h2>
            <div class="exp-tools">
                <span class="tool">Active Directory</span>
                <span class="tool">Microsoft Exchange</span>
                <span class="tool">Windows Server</span>
            </div>
            <div class="exp-description">
                Active Directory and Microsoft Exchange administration, log handling, report automation, VPN
                configuration and other basic infosec-related tasks.
            </div>
        </div>

    </div>

</div>