<div class="col-12 index-section"> 
    <h2>on the web</h2>
    <ul class="list-unstyled">
        <li class="social-item">
            <a href="https://www.linkedin.com/in/laaraujo/" target="_blank">
                <i class="fa-brands fa-linkedin"></i><span>laaraujo</span>
            </a>
        </li>
        <li class="social-item">
            <a href="https://github.com/laaraujo" target="_blank">
                <i class="fa-brands fa-github"></i><span>laaraujo</span>
            </a>
        </li>
    </ul>
</div>